---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
{#- One sitemap, well under the 50,000-URL limit. lastmod comes from the last
    git commit that touched each source file, so a page only looks fresh when
    it changed. No changefreq or priority: Google ignores both. Blog category
    pages are listed only when they carry an intro. -#}
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{ site.url }}/</loc><lastmod>{{ "src/index.njk" | gitDate(buildDate) }}</lastmod></url>
  <url><loc>{{ site.url }}/about/</loc><lastmod>{{ "src/about/index.html" | gitDate(buildDate) }}</lastmod></url>
  <url><loc>{{ site.url }}/cv/</loc><lastmod>{{ "src/cv/index.html" | gitDate(buildDate) }}</lastmod></url>
  <url><loc>{{ site.url }}/work/</loc><lastmod>{{ "src/work/index.html" | gitDate(buildDate) }}</lastmod></url>
  {%- for cs in collections.caseStudy %}
  <url><loc>{{ site.url }}{{ cs.url }}</loc><lastmod>{{ "src/_data/caseStudies.js" | gitDate(buildDate) }}</lastmod></url>
  {%- endfor %}
  {%- set fwFiles = [] %}{%- for p in collections.frameworks %}{% set _ = fwFiles.push(p.inputPath) %}{% endfor %}
  <url><loc>{{ site.url }}/frameworks/</loc><lastmod>{{ fwFiles.concat(["src/frameworks/index.njk"]) | gitDateMax(buildDate) }}</lastmod></url>
  {%- for p in collections.frameworks %}
  <url><loc>{{ site.url }}{{ p.url }}</loc><lastmod>{{ p.inputPath | gitDate(p.data.date | isoDate) }}</lastmod></url>
  {%- endfor %}
  {%- set rsFiles = [] %}{%- for p in collections.research %}{% set _ = rsFiles.push(p.inputPath) %}{% endfor %}
  <url><loc>{{ site.url }}/research/</loc><lastmod>{{ rsFiles.concat(["src/research/index.njk"]) | gitDateMax(buildDate) }}</lastmod></url>
  {%- for p in collections.research %}
  <url><loc>{{ site.url }}{{ p.url }}</loc><lastmod>{{ p.inputPath | gitDate(p.data.date | isoDate) }}</lastmod></url>
  {%- endfor %}
  <url><loc>{{ site.url }}/tools/</loc><lastmod>{{ "src/tools/index.html" | gitDate(buildDate) }}</lastmod></url>
  <url><loc>{{ site.url }}/tools/query-fan-out/</loc><lastmod>{{ "src/tools/query-fan-out/index.html" | gitDate(buildDate) }}</lastmod></url>
  <url><loc>{{ site.url }}/tools/citeability-checker/</loc><lastmod>{{ "src/tools/citeability-checker/index.html" | gitDate(buildDate) }}</lastmod></url>
  <url><loc>{{ site.url }}/tools/serp-preview/</loc><lastmod>{{ "src/tools/serp-preview/index.html" | gitDate(buildDate) }}</lastmod></url>
  <url><loc>{{ site.url }}/tools/schema-generator/</loc><lastmod>{{ "src/tools/schema-generator/index.html" | gitDate(buildDate) }}</lastmod></url>
  {%- set postFiles = [] %}{%- for p in collections.posts %}{% set _ = postFiles.push(p.inputPath) %}{% endfor %}
  <url><loc>{{ site.url }}/blog/</loc><lastmod>{{ postFiles | gitDateMax(buildDate) }}</lastmod></url>
  {%- for c in collections.categories %}{% if c.intro %}
  {%- set catFiles = [] %}{%- for p in c.posts %}{% set _ = catFiles.push(p.inputPath) %}{% endfor %}
  <url><loc>{{ site.url }}/blog/category/{{ c.slug }}/</loc><lastmod>{{ catFiles | gitDateMax(buildDate) }}</lastmod></url>
  {%- endif %}{%- endfor %}
  {%- for post in collections.posts %}
  <url><loc>{{ site.url }}{{ post.url }}</loc><lastmod>{{ post.inputPath | gitDate(post.data.date | isoDate) }}</lastmod></url>
  {%- endfor %}
  <url><loc>{{ site.url }}/contact/</loc><lastmod>{{ "src/contact/index.html" | gitDate(buildDate) }}</lastmod></url>
</urlset>
